<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-shipment-heading" data-cy="ShipmentCreateUpdateHeading" jhiTranslate="sampleTrackingApp.shipment.home.createOrEditLabel">
        Create or edit a Shipment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.appId" for="field_appId">App Id</label>
          <input type="text" class="form-control" name="appId" id="field_appId" data-cy="appId" formControlName="appId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.clientId" for="field_clientId">Client Id</label>
          <input type="text" class="form-control" name="clientId" id="field_clientId" data-cy="clientId" formControlName="clientId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.samples" for="field_samples">Samples</label>
          <textarea class="form-control" name="samples" id="field_samples" data-cy="samples" formControlName="samples"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.dateCreated" for="field_dateCreated"
            >Date Created</label
          >
          <input
            type="text"
            class="form-control"
            name="dateCreated"
            id="field_dateCreated"
            data-cy="dateCreated"
            formControlName="dateCreated"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.dateModified" for="field_dateModified"
            >Date Modified</label
          >
          <input
            type="text"
            class="form-control"
            name="dateModified"
            id="field_dateModified"
            data-cy="dateModified"
            formControlName="dateModified"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.riderId" for="field_riderId">Rider Id</label>
          <input type="text" class="form-control" name="riderId" id="field_riderId" data-cy="riderId" formControlName="riderId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.riderName" for="field_riderName">Rider Name</label>
          <input type="text" class="form-control" name="riderName" id="field_riderName" data-cy="riderName" formControlName="riderName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.destination" for="field_destination"
            >Destination</label
          >
          <input
            type="text"
            class="form-control"
            name="destination"
            id="field_destination"
            data-cy="destination"
            formControlName="destination"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.clusterClientId" for="field_clusterClientId"
            >Cluster Client Id</label
          >
          <input
            type="text"
            class="form-control"
            name="clusterClientId"
            id="field_clusterClientId"
            data-cy="clusterClientId"
            formControlName="clusterClientId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.temperatureOrigin" for="field_temperatureOrigin"
            >Temperature Origin</label
          >
          <input
            type="text"
            class="form-control"
            name="temperatureOrigin"
            id="field_temperatureOrigin"
            data-cy="temperatureOrigin"
            formControlName="temperatureOrigin"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="sampleTrackingApp.shipment.temperatureDestination"
            for="field_temperatureDestination"
            >Temperature Destination</label
          >
          <input
            type="text"
            class="form-control"
            name="temperatureDestination"
            id="field_temperatureDestination"
            data-cy="temperatureDestination"
            formControlName="temperatureDestination"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.isModifiedByHub" for="field_isModifiedByHub"
            >Is Modified By Hub</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isModifiedByHub"
            id="field_isModifiedByHub"
            data-cy="isModifiedByHub"
            formControlName="isModifiedByHub"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.isModifiedByFacility" for="field_isModifiedByFacility"
            >Is Modified By Facility</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isModifiedByFacility"
            id="field_isModifiedByFacility"
            data-cy="isModifiedByFacility"
            formControlName="isModifiedByFacility"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="sampleTrackingApp.shipment.isModifiedByLaboratory"
            for="field_isModifiedByLaboratory"
            >Is Modified By Laboratory</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isModifiedByLaboratory"
            id="field_isModifiedByLaboratory"
            data-cy="isModifiedByLaboratory"
            formControlName="isModifiedByLaboratory"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.isModifiedByCourier" for="field_isModifiedByCourier"
            >Is Modified By Courier</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isModifiedByCourier"
            id="field_isModifiedByCourier"
            data-cy="isModifiedByCourier"
            formControlName="isModifiedByCourier"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleTrackingApp.shipment.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
